<p><%= t('usuarios.mailer.confirmation_instructions.greeting', nome: @resource.nome) %></p>
<p><%= t('usuarios.mailer.confirmation_instructions.message_html', confirmation_link: link_to('Confirmar minha conta', confirmation_url(@resource, confirmation_token: @token))) %></p>