<p><%= t('usuarios.mailer.email_changed.greeting', nome: @resource.nome) %></p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t('usuarios.mailer.email_changed.message_html.unconfirmed', email: @resource.unconfirmed_email) %></p>
<% else %>
  <p><%= t('usuarios.mailer.email_changed.message_html.confirmed', email: @resource.email) %></p>
<% end %>