<div id="<%= dom_id comentario %>">
  <p>
    <strong>Filme:</strong>
    <%= comentario.filme_id %>
  </p>

  <p>
    <strong>Nome visitante:</strong>
    <%= comentario.nome_visitante %>
  </p>

  <p>
    <strong>Conteudo:</strong>
    <%= comentario.conteudo %>
  </p>

</div>
