<% if resource.errors.any? %>
  <div class="alert alert-danger">
    <ul style="margin-top: 0.5rem; padding-left: 1.25rem;">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>