<% content_for :title, "Nova Categoria" %>

<div class="container my-5">
  <div class="card shadow-sm">
    <div class="card-body">
      <h1 class="mb-4">Nova Categoria</h1>

      <%= render "form", categoria: @categoria %>
    </div>
  </div>
</div>