// Sassy
@import "bootstrap";

@import 'config/variaveis';

@import 'components/index';
@import 'pages/index';

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: $fundo-claro;
}

.conteudo-principal {
  padding: 2rem 1.5rem;
}