// Sassy
@import "bootstrap";

@import 'config/variaveis';

@import 'components/index';
@import 'pages/index';

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.conteudo-principal {
  flex: 1;
  padding: 2rem 1.5rem;
  max-width: 1400px;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 1.5rem 1rem;
  }
}