<% content_for :title, t(".title") %>

<div class="container my-5">
  <div>
    <button type="button" class="botao botao--primario botao--completo" data-bs-toggle="modal" data-bs-target="#importarModal">
      <%= t(".import_csv") %>
    </button>
  </div>

  <br>

  <div id="form_container" class="formulario__container" data-controller="ia confirmacao-excluir">
    <%= render 'form', filme: @filme %>
  </div>

  <%= render "modal_importar_csv" %>
</div>