<% content_for :title, "Novo filme" %>

<div class="container my-5">
  <div>
    <button type="button" class="botao botao--primario botao--completo" data-bs-toggle="modal" data-bs-target="#importarModal">
      Importar CSV
    </button>
  </div>

  <br>

  <%= render "form", filme: @filme %>

  <%= render "modal_importar_csv" %>
</div>