<% content_for :title, "New filme" %>

<%= render "form", filme: @filme %>

<br>

<div>
  <%= link_to "Back to filmes", filmes_path, class: "btn btn-secondary" %>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#importarModal">
    Importar CSV
  </button>
</div>

<%= render "modal_importar_csv" %>